
<!-- <div class="container-fluid">
  <div class="col-md-8 col-md-offset-1 col-lg-8 col-lg-offset-2 job-show-1" style="border-top-right-radius:10px;border-top-left-radius:10px;  border-bottom-right-radius:10px;
              border-bottom-left-radius:10px;">
  <h2 class="text-align:center" >Add Job</h2>
  <%= render "form" %>
 </div>
</div> -->

<div class="col-md-6 col-md-offset-3 job-setup">
  <div class="col-md-12 job-form-content">
    <h2><span class="fa fa-file-text-o"></span> Add job</h2>
    <%= render('form') %>
  </div>
</div>
