  <div class="jumbotron">
    <h1 class="title">等你来联盟</h1>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">加入我们</a></p>
  </div>


  <section class="sec-services">
    <div class="container">
      <h1>我们的优势</h1>

      <hr />

      <div class="row">
        <div class="col-sm-4">
          <i class="fa fa-4x fa fa-envelope"></i>

          <h2 class="h3">完整的业主信息</h2>

        </div>

        <div class="col-sm-4">
          <i class="fa fa-4x fa-database"></i>

          <h2 class="h3">雄厚的企业实力</h2>
        </div>

        <div class="col-sm-4">
          <i class="fa fa-4x fa-fax"></i>

          <h2 class="h3">快捷的双方通讯</h2>

        </div>
      </div>
    </div>
  </section>
