<!--滑动效果必要条件，在本文件有javascript设置-->
 <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
 <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">


<!-- 首页动图演示-->
<div class="row">
 <div id="bootstrap-touch-slider" class="carousel bs-slider slide  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000" >

   <!-- Indicators -->
   <ol class="carousel-indicators">
       <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
       <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
       <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
   </ol>

   <!-- Wrapper For Slides -->
    <div class="carousel-inner" role="listbox">

       <!-- Third Slide -->
       <div class="item active">

           <!-- Slide Background -->
           <img src="http://ww3.sinaimg.cn/large/006tNbRwgy1feu6egw3osj31hc0wvh1c.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
           <div class="bs-slider-overlay"></div>

           <div class="container">
               <div class="row">
                   <!-- Slide Text Layer -->
                   <div class="slide-text slide_style_left">
                       <h1 data-animation="animated zoomInRight">Gourmet</h1>
                       <p data-animation="animated fadeInLeft">The good life start with food</p>
                        <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">Enter</a></p>
                   </div>
               </div>
           </div>
       </div>
       <!-- End of Slide -->

       <!-- Second Slide -->
       <div class="item">

           <!-- Slide Background -->
           <img src="http://ww4.sinaimg.cn/large/006tNbRwly1feufusd52gj31hc0zbaoh.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
           <div class="bs-slider-overlay"></div>
           <!-- Slide Text Layer -->
           <div class="slide-text slide_style_center">
               <h1 data-animation="animated flipInX">You Will Be</h1>
               <p data-animation="animated lightSpeedIn">next gournet</p>
               <!-- <a href="/jobs" target="_blank" class="btn btn-default" data-animation="animated fadeInUp">Enter</a> -->
                 <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">Enter</a></p>
           </div>
       </div>
       <!-- End of Slide -->

       <!-- Third Slide -->
       <div class="item">

           <!-- Slide Background -->
           <img src="http://ww2.sinaimg.cn/large/006tNbRwgy1feu5s1edtcj31hc0zk7gd.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
           <div class="bs-slider-overlay"></div>
           <!-- Slide Text Layer -->
           <div class="slide-text slide_style_right">
               <h1 data-animation="animated zoomInLeft">Join Us</h1>
               <p data-animation="animated fadeInRight">Let the life rich and colorful</p>
               <!-- <a href="/jobs" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">Enter</a> -->
                <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">Enter</a></p>
           </div>
       </div>
       <!-- End of Slide -->


   </div><!-- End of Wrapper For Slides -->

   <!-- Left Control -->
   <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
       <span class="fa fa-angle-left" aria-hidden="true"></span>
       <span class="sr-only">Previous</span>
   </a>

   <!-- Right Control -->
   <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
       <span class="fa fa-angle-right" aria-hidden="true"></span>
       <span class="sr-only">Next</span>
   </a>

 </div>
</div>
<!-- End  bootstrap-touch-slider Slider -->
<!---首页动图演示结束-->


<div class="row">
<section class="about" id="about">
 <div class="container">
   <div class="row">
     <div class="col-xs-12">
       <h2>We want you </h2><br/></br>
      </div>
     </div>
   <div class="row">
     <div class="col-xs-12 col-sm-4">
       <h4>Our define</h4>
       <%= image_tag("feature1.jpg") %><br/><br/>
       <p>The term gourmet can refer to a person with refined or discriminating taste who is knowledgeable in the craft and art of food and food preparation.[1] Gourmand carries additional connotations of one who simply enjoys food in great quantities.</p>
       <p class="visible-lg">An epicure is similar to a gourmet, but the word may sometimes carry overtones of excessive refinement. A gourmet chef is a chef of particularly high caliber of cooking talent and skill.</p>
     </div>
     <div class="col-xs-12 col-sm-4">
       <h4>Our pursuits</h4>
        <%= image_tag("feature2.jpg") %><br/><br/>
       <p>Certain events such as wine tastings cater to people who consider themselves gourmets and foodies. Television programs (such as those on the Food Network) and publications such as Gourmet magazine often serve gourmets with food columns and features. </p>
       <p class="visible-lg"> Gourmet tourism is a niche industry catering to people who travel to food or wine tastings, restaurants, or food and wine production regions for leisure.</p>

     </div>
     <div class="col-xs-12 col-sm-4">
       <h4>Our values</h4>
        <%= image_tag("feature3.jpg") %><br/><br/>
       <p>Food can bring happiness to the person, food is essential in our life, therefore, we choose good gourmet for people, they are proficient in different areas of food, to make or to enjoy healthy and delicious food, the easy to eat food, it is a very exciting thing, because there is such a group of people they serve.</p>
       <p class="visible-lg">They don't need to own to choose food.Our value lies in to enjoy food and people like to eat all kinds of food service, because the people like food in general is deeply loves the life of the people, we are proud because their service.</p>

     </div>
   </div>
 </div>
</section> <!-- end of about section-->
</div>

<!-- 中间四个图片演示 -->

<div class="row">
<section class="prectice" id="prectice">
  <div class="container">
    <div class="row">
      <br/></br>
      <h2 class="text-center">We need you to grasp one of the following four</h2>
      <section id="pinBoot">
        <div class="white-panel "><img src="http://ww1.sinaimg.cn/large/006tNbRwgy1feulqkey26j31hc0zwduk.jpg" alt="">
          <h4>cookie</h4>
        </div>

        <div class="white-panel"> <img src="http://ww1.sinaimg.cn/large/006tNbRwgy1feulri3bd3j30hs0cnwf9.jpg" alt="">
          <h4>wine</h4>
        </div>

        <div class="white-panel "> <img src="http://ww3.sinaimg.cn/large/006tNbRwgy1feultqyqzij31hc0zlamn.jpg" alt="">
          <h4>tea art</h4>
        </div>


        <div class="white-panel "> <img src="http://ww2.sinaimg.cn/large/006tNbRwgy1feultizmybj31hc0zkn9w.jpg" alt="">
          <h4>beafstack</h4>
        </div>
      </section>
      <hr>
    </div>
  </div>
</section>
<div>
<!-- 中间四个图片演示结束-->


<!-- About
    ================================================== -->

<section class="base-sec parallax-section" id="base">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h2><small>Who We Are</small>About
          Us</h2>
      </div>
      <div class="col-md-4">
        <p>To enjoy good health, to bring true happiness to one's family, to bring peace to all, one must first discipline and control one's own mind. If a man can control his mind he can find the way to Enlightenment, and all wisdom and virtue will naturally come to him.</p>
        <p>Saving our planet, lifting people out of poverty, advancing economic growth... these are one and the same fight. We must connect the dots between climate change, water scarcity, energy shortages, global health, food security and women's empowerment. Solutions to one problem must be solutions for all.</p>
      </div>
      <div class="col-md-4">
        <p>Our greatest happiness does not depend on the condition of life in which chance has placed us, but is always the result of a good conscience, good health, occupation, and freedom in all just pursuits.</p>
        <p>Being in control of your life and having realistic expectations about your day-to-day challenges are the keys to stress management, which is perhaps the most important ingredient to living a happy, healthy and rewarding life.</p>
        <p><a href="/jobs" class="btn btn-transparent-white btn-capsul">Join Us</a></p>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">

$(document).ready(function() {
$('#pinBoot').pinterest_grid({
no_columns: 4,
padding_x: 10,
padding_y: 10,
margin_bottom: 50,
single_column_breakpoint: 700
});
});

</script>
