/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@import url(http://fonts.googleapis.com/css?family=Lato);

/*------------------------------------------------------------------
                        BOOTSTRAP STYLES
-------------------------------------------------------------------*/
.nav > li > a:hover, .nav > li > a:focus{
  background-color:#9b59b6; /* 点击文字时的底色*/
  outline:none;
}

.nav > li > a{
  color: #ffffff;

}
.navbar{
  margin-bottom:0;
}

.navbar-brand{
   color: #ffffff;
   font-weight: 700px;
}

.navbar button{
  background:#ccc;
}

.navbar span{
  background:#ededed;
}

.navbar a{
  text-align:center;
}

/*------------------------------------------------------------------
                        DEFAULT STYLES
-------------------------------------------------------------------*/
body{
  font-family: 'Lato', sans-serif;
  background:#fff;
  overflow-x: hidden;
}

section{
  margin:100px 0;
}

hr{
  margin:10px 0;
}

h3,h4{
  text-align:center;
  font-weight:bold;
}

section h2{
  text-align:left;
  position:relative;
  margin-bottom:40px;
}

section h2:after{
	margin-top:20px;
  display:inline-block;
  content:'';
  width:45px;
  height:10px;
  border-top:5px solid #B5C3D5;
  position:absolute;
  bottom:-10px;
  left:0;
}

a, a:hover{
  color:black;
}

a:hover{
   transition:background-color,color .3s ease-in-out;
}

/*------------------------------------------------------------------
                        HEADER STYLES
-------------------------------------------------------------------*/
header{
  background:#673AB7;

}

.banner{
  background-image:url('http://ww3.sinaimg.cn/large/006tNbRwgy1feu6egw3osj31hc0wvh1c.jpg');
  height:480px;
  background-repeat: no-repeat;
  background-size: cover;

}

.banner>h2,
.banner .info{
  height:50px;
  line-height:50px;
  position:relative;
  top:115px;
  margin:0 auto;
  text-align:center;
  width:50%;
}

.banner>h2{
  font-size:2.5em;
  color:#ffffff;
}

.banner .info{
  display:none;
}

.banner a{
	height:50px;
  font-size:1.3em;
  display:inline-block;
  width:48%;
  text-decoration:none;
  border:2px solid rgba(0,0,0,.3);
  margin-right:-4px;
  transition:all .3s ease-in-out;
}

.banner a:last-child{
 	margin-left:2%;
}

.banner a:hover{
  background:#8FC6FF;
}

/*------------------------------------------------------------------
                        SECTION.CLIENTS STYLES
-------------------------------------------------------------------*/

.clients .clients-info{
  padding:7px;
  box-shadow:1px 1px 3px #ffffff, -1px -1px 3px #ffffff;;
  margin-bottom:20px;
  width:0;
  height:0;
  line-height:0;
  opacity:0;
  margin:15px auto 10px;
  background:#673AB7;
}

.clients .clients-info h3{
  margin:0;
  line-height:180px;
}

/*------------------------------------------------------------------
                        SECTION.PROCESS STYLES
-------------------------------------------------------------------*/
.process .method{
  background:#ccc;
  text-align:center;
  padding:10px;
  margin-bottom:30px;
  border-radius:5px;
  opacity:0;
}

.process .method h3{
  font-style:italic;
}

.process .method p{
  margin:0;
}

.process .method h4{
  background:#8FC6FF;
  width:60px;
  height:60px;
  font-size:2em;
  font-weight:bold;
  border-radius:50%;
  line-height:60px;
  margin:0 auto;
  position:relative;
  top:30px;
}

/*------------------------------------------------------------------
                        SECTION.BLOGS STYLES
-------------------------------------------------------------------*/
.blogs{
  margin-bottom:0;
}

.blogs p{
  position: relative;
  opacity: 0;
  left:-750px;
}

.blogs button{
	position:relative;
  bottom:-50px;
  opacity:0;
  margin-bottom:20px;
}

.col-lg-4{
  position: relative;
}

.blogs img{
	position:absolute;
  right:-330px;
	margin-top:10px;
  opacity:0;
}

.firstAnimation {
  opacity: 1;
  height: 180px;
  width: 250px;
}

/*------------------------------------------------------------------
                        FOOTER STYLES
-------------------------------------------------------------------*/
.footer{
  text-align:center;
  height:80px;
  background-color:#673AB7;
  color: #bdc3c7;
  padding: 20px;
  z-index: 1000;
}

/*------------------------------------------------------------------
                        MEDIA QUERIES STYLES
-------------------------------------------------------------------*/
@media only screen and (max-width: 1050px) and (min-width:600px){
  .banner>h2, .banner .info{
    width:70%
  }
  .banner>h2{
    font-size:1.8em;
  }
}

@media only screen and (max-width: 599px) and (min-width:350px){
  .banner a{
    font-size:1em;
  }
  .banner>h2, .banner .info{
    width:80%
  }
  .banner>h2{
    font-size:1.2em;
  }
}

@media only screen and (max-width: 349px){
	.banner .info{
		height:auto;
  }
  .banner a{
    font-size:1em;
    width:50%;
    display:block;
  }
  .banner a:first-child{
    margin:0 auto;
  }
  .banner a:last-child{
    margin:10px auto 0;
  }
	.banner>h2, .banner .info{
    width:80%
  }
  .banner>h2{
    font-size:1em;
  }
}

@media only screen and (max-width: 768px) and (min-width:550px){
  .process .row:first-child .col-xs-12,
  .clients .row:first-child .col-xs-12{
      width:100%;
 	}
  .process .col-xs-12,
  .clients .col-xs-12{
    	width:50%;
  }
  .clients .col-xs-12:nth-child(3),
  .clients .col-xs-12:nth-child(4){
    margin-top:15px;
  }
}


/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-help{
  font-size: 12px;
}






/*------------------------  搜索框样式 --------------------*/
.form-group {
    margin-bottom: 10px;
    margin-top: 10px;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    width: 250px; //加上width
}
/*----------------------------end ------------------------*/
