/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@import url(http://fonts.googleapis.com/css?family=Lato);

/*------------------------------------------------------------------
                        BOOTSTRAP STYLES
-------------------------------------------------------------------*/

.nav > li > a:hover, .nav > li > a:focus{
  background-color:#9b59b6; /* 点击文字时的底色*/
  //outline:none;
}
.dropdown-menu{
    border-radius: 0;
    border: 0;
    margin-bottom: 0;
    min-height: 70px;
    min-width: 20px;
    background-color: #ffffff;
    text-align: left;

}

//dropdown font color
.dropdown-menu > li > a{
  color: #131418;
}
//end

.dropdown-menu .open > li:hover, .dropdown-menu .open > li:focus{
  background-color: #9b59b6;
}

.dropdown > li > a:hover{
  background: #9b59b6;

}

.dropdown > li > a:focus{
  background: #ffffff;
}

.nav > li > a{
 color: #fff ;

}

.nav .open > a:hover, .nav .open >a:focus{
  background: #9b59b6;
  color: #ffffff;
  border-color: #ffffff;

}

.nav1 > li > a{
  color:   #ffffff;
  background: #673AB7;

}

.nav-tabs > li > a:hover{
  border-color: #673AB7;
}

.navbar{
  margin-bottom:0;
}

.navbar-brand{
   color: #ffffff;
   font-weight: 1000px;
   font-size: 20px;

}


.navbar button{
  background:#ccc;
}

// .navbar span{
//   background: #9b59b6;
//   color: #9b59b6;
// }

.navbar a{
  text-align: left;
}

/*------------------------------------------------------------------
                        default styles
-------------------------------------------------------------------*/
html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
}

body{
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}


body {
 background-color:#ffffff;
}

section{
  margin:100px 0 50px 0;
}

hr{
  margin:10px 0;
}

h3,h4{
  text-align:center;
  font-weight:bold;
  color: rgba(216,0,1,1);
  margin-bottom:30px;
}
p{
  font-weight: 10px;
}
section h2{
  text-align:center;
  position:relative;
  margin-bottom:10px;
  color: rgba(216,0,1,1);
}

section h2:after{
	margin-top:20px;
  display:inline-block;

  border-top:5px solid #B5C3D5;
  position:absolute;
  bottom:-10px;
  left:0;
}

a, a:hover{
  color:black;
}

a:hover{
   transition:background-color,color .3s ease-in-out;
}

/*----------------------轮番头按钮设置-------------------------------*/
.btn.btn-lg.btn-danger{
  background-color: #673AB7;
  border: #ffffff;
}
.btn.btn-lg.btn-danger:hover{
  background: #9b59b6;
}
/*-----------------------end--------------------------------------*/



/*------------------------------------------------------------------
                        HEADER STYLES
-------------------------------------------------------------------*/
header{
  background:#673AB7;

}



/*------------------------------------------------------------------
                        section process
-------------------------------------------------------------------*/

#pinBoot {
  position: relative;
  max-width: 100%;
  width: 100%;
}

img {
  width: 100%;
  max-width: 350px;
  height: 200px;
}
.white-panel {
  position: absolute;
  background: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  padding: 10px;
}
/*
stylize any heading tags withing white-panel below
*/

.white-panel h1 {
  font-size: 1em;
}
.white-panel h1 a {
  color: #A92733;
}
.white-panel:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 5);
  margin-top: -5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


/*------------------------------------------------------------------
                        footer styles
-------------------------------------------------------------------*/
.footer{
  text-align:center;
  height:80px;
  background-color:#673AB7;
  color: #bdc3c7;
  padding: 20px;
  z-index: 1000;
}

i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}

/*----------------------------end ------------------------*/


/* -------------------------底图---------------------------*/
.parallax-section {
	background-attachment: fixed!important;
}
.btn-capsul {
	border-radius: 30px;
}

.btn-transparent-white {
	border: 2px solid #fff;
	color: #fff;
}
.btn-transparent-white:hover, .btn-transparent-white:focus {
	background: #fff;
	color: #0297FF
}
.relative-box {
	position: relative
}
section {
	float: left;
	width: 100%;
	padding: 80px 0;
}




/* base section
-------------------------------------------------- */
.base-sec {
	background: url('http://ww2.sinaimg.cn/large/006tNbRwly1ffcl72ewwoj30zk0npagv.jpg') no-repeat center center;
	background-size: cover;
	color: #fff;
	position: relative;
  margin: 0px;
  height: 260px;


}
.base-sec:before {
	content: ' ';
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(22,122,192,0.5);
	top: 0;
	left: 0;
}
.base-sec h2 {
	font-size: 55px;
	font-weight: 800;
	margin-top: 25%;
}
.base-sec h2 small {
	display: block;
  color: #fff;
	font-size: 24px;
	margin-bottom: 15px;
	padding-left: 10px;
}
.base-sec p {
	font-size: 16px;
}
.base-sec h2{
  color: #fff;
}
/*-----------------------------end---------------------------------------*/


/*------prectice----------------------------------------------------------*/
.prectice{
  background: #fff;
  padding-bottom: 10px;
  padding-top: 0px;
  margin: 0;
}

.about{
  margin-top:0px;
  margin-bottom: 0px;
  background-color: rgba(103,58,183,0.7);
}
.about h2{
  color: #fff;
}
.about h4{
  color: #fff;
}
/*--------------------------end--------------*/

/*------------------------------ 登录页面 ----------------------------*/
.user_setup{
    height: 850px;
    background: url("http://ww2.sinaimg.cn/large/006tNbRwly1ffclafk8knj30zk0nltep.jpg") no-repeat scroll top center/ cover;
}

@media (min-width: 768px) {
   .user_setup_content {
     border-radius: 0; //圆角
   }
 }
.user_setup_content{
    background: #fff;
    margin-top: 135px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 1px 2px 3px #111;
    border: 1px solid #333;
    border-radius: 25px;

    opacity:0.95;
    filter:alpha(opacity=95);

    h2{
      text-align: center;
    }

    .psw{
      float: right;
      margin-top: -33px;
      position: relative;
    }

    .account{
      text-align: center;
    }

    .form-inputs{
      margin-top: 25px;
    }

    .form-actions{
      text-align: center;
      margin-top: 35px;
      margin-bottom: 25px;

      .button{
        color: #fff;
        background-color: #673AB7;
        border-color: #673AB7;
        font-size: 20px;
        letter-spacing: 1px;
        width: 100%;
      }
      .button:hover{
          background-color: #9b59b6;
          border-color: #9b59b6;
          color: #fff;
      }
    }
}
/*-----------------end--------------------*/

.jobs-show{
  background: #fff;
}

/*-----------搜索框-----------------------*/
.form-group {
    margin-bottom: 10px;
    margin-top: 10px;

}
.input-group {
    position: relative;
    display: table-cell;
    border-collapse: separate;
    width: 200px; //加上width

}

.btn.btn-default.search-bar-submit{
  background: #ffffff;

.glyphicon.glyphicon-search{
  background: #ffffff;
  color: #673AB7;
}
}
/*----------------end-----------------*/


.index-words {
  font-family: "Lucida Sans Unicode", "Microsoft Yahei", 微软雅黑;
  margin-top: 0px;
  padding-top: 100px;
  padding-bottom: 100px;
  color:#F4511E;

}

/*--------------工作展示页面------------*/
.welome-job > h2{
  color: #673AB7;
}

.btn.btn-info{
  background: rgba(155, 89, 182, 10);
  border-color: #ffffff;
}

.btn.btn-info:hover{
  background:  #9b59b6;
}

.badge.badge-info{
  background: #9b59b6;
}

.btn.btn-danger.btn-sm.disabled{
  background: #9b59b6;
  border-color: #ffffff;
}

/*--------------单个工作展示页面------------*/
job-info-box{
  color: #333;
  font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;

  h3{
    text-align: left;
    color: #3D537F;
  }

  p{
    font-size: 16px;
    color: #666;
  }
  .company{
    font-size: 20px;
    color: #999;
  }

  .wage{
    color: #FF7D0A;
    letter-spacing: -1px;
    font-size: 18px;
  }

  .created{
    color: #999;
    font-size: 14px;
  }

  .website{
    letter-spacing: 1px;
  }
}

.job-action-box{
  text-align: right;
  margin-top: 25px;
  margin-right: 25px;

  div{
    width: 200px;
    display: inline;
  }

  .btn-lg{
    width: 125px;
  }
}

.job-content-box{
  letter-spacing: 0.5px;

  h4{
    color: #004080;
    text-align: left;
  }

  .content-info{
    min-height: 450px;
    p{
      line-height: 30px;
    }
  }

  .mail-info{
    margin-bottom: 75px;
    font-size: 18px;

    .email{
      font-size: 16px;
    }
  }
}

/*------------简历界面展示页面------------*/
.btn1{
  background: #673AB7;
  border-color: #ffffff;
}

.btn1:hover{
  background-color: #9b59b6;
  border-color: #ffffff;
}

/*--------------收藏界面显示-------------*/
.job-show-1 {
	margin-top: 50px;
  min-height: 560px;
  box-shadow: 1px 1px 1px 1px rgba(155, 89, 182, 0.9) inset
}
/*---------------end------------------*/

/*--------------管理员新增工作页面---------*/
.job-setup{
   background: #fafafa;
   margin-top: 50px;
   margin-bottom: 100px;
   padding-top: 20px;
   padding-bottom: 20px;
   box-shadow: 1px 1px 1px #673AB7;
   border: 1px solid #673AB7;
   border-radius: 10px;

   opacity:0.95;
   filter:alpha(opacity=95);
   hr {
     height:1px;
     background-color:#ccc;
   }
 }

 .job-form-content{
   h2{
     text-align: center;
     color: #673AB7;
     letter-spacing: 1px;
   }

   .job-content-info{
     height: 80px;
   }

   .category{
     width: 75%;
   }

   .city{
     width: 75%;
   }

   .wage{
     width: 50px;
     border-radius: 5px;
   }

   .wage-form{
     font-weight: 600;
     font-size: 16px;
     color: #666;
   }

   .hidden-box{
     font-size: 16px;
   }


   .form-actions{
     text-align: center;
     margin-top: 50px;
     margin-bottom: 25px;

     .button{
       color: #fff;
       background-color: #9b59b6;
       border-color: #9b59b6;
       font-size: 16px;
       letter-spacing: 0px;
       width: 20%;
     }
     .button:hover{
         background-color: #4A99B5;
         border-color: #4A99B5;
         color: #fff;
     }
   }


 }

 /*-------------------管理员工作展示页面-------------*/
 .nav.nav-pills.nav-stacked > li.active > a{
   background: rgba(103, 58, 183, 0.9);
   font-size: 18px;


 }

 .nav-pills > li > a{
   border-radius: 3px;
 }

 table{
   box-shadow: 0 0 10px #999;
 }

 thead{
   background-color: #eee;
   font-size: 16px;
 }

 .job-list{
    margin-top: 15px;
  }
